{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">




    {% if title%}
      <title>{{title}}</title>
    {% else %}
      <title>Swifter</title>
    {% endif %}
  </head>
  <body>
      <nav>
    <div class="nav-wrapper">
      <a href="{% url 'blog_home' %}" class=" brand-logo ">Swift</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="{% url 'blog_home'%}">
            <div class="icon-preview col s6 m3"><i class="material-icons dp48" style="color:#80c1ff">Home</i>
            </div>
          </a></li>
          <li><a href="{% url 'post-create' %}">New Post</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}

        <li><a href="{% url 'blog_about' %}">About</a></li>
        <li>
          <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
            <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts">
          </form>
        </li>
      </ul>
    </div>
  </nav>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages%}
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h4>Our Schedule and programs</h4>
            <p class='text-muted'>Latest posts, announcements and more.
              <ul class="list-group">
                <li><a class="list-group-item list-group-item-light" href="{% url 'latest_post' %}">Latest Posts</a></li>
                <li><a  class="list-group-item list-group-item-light" href="{% url 'announcements' %}">Announcements</a></li>
                <li><a  class="list-group-item list-group-item-light" href="{% url 'calendar' %}">Calendars</a></li>
                <li><a  class="list-group-item list-group-item-light" href="#">etc</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Learn More</h5>
              <p class="grey-text text-lighten-4">
                <ul>
                  <li><a class="grey-text text-lighten-3"  href="{% url 'blog_about' %}">About Us</a></li>
                  <li><a class="grey-text text-lighten-3"  href="#">Getting started with Swifter</a></li>
                  <li><a class="grey-text text-lighten-3"  href="{% url 'swifter_team' %}">Swifter Developer Team</a></li>
                  <li><a class="grey-text text-lighten-3"  href="{% url 'code_of_conduct' %}">Code of conduct</a></li>
                </ul>
              </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Get Involved</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="{% url 'join_group' %}">Join a Group</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'contribute' %}">Contribute to Swifter</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'report_bugs' %}">Report Bugs</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'security' %}">Report Security Issues</a></li>
              </ul>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Follow Us</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="http://facebook.com">Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="http://twitter.com">Twitter</a></li>
                <li><a class="grey-text text-lighten-3" href="http://reddit.com">ReddIt</a></li>
                <li><a class="grey-text text-lighten-3" href="http://linkedin.com">LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          <h3><a class="grey-text text-lighten-4 left" href="{% url 'blog_home' %}">Swifter</a></h3>
          © 2014 Copyright Swifter Developer Team
          </div>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
